langchain
langchain-community
langchain-core
httpx
streamlit
PyMuPdf
unstructured
python-pptx
tiktoken
transformers==4.40.2
torch
torchvision
pillow
einops
timm
chromadb
open-clip-torch
langchain-ollama
tdqm
ollama
google-genai
git+https://github.com/huggingface/transformers
openpyxl
docx2txt
beautifulsoup4
pytesseract
python-docx
msoffcrypto-tool
pdfminer.six
nltk